<!DOCTYPE html>
<html>
  <% flash.each do |type, msg| %>
    <div>
      <p>***<%= msg %>***</p>
     </div>
  <% end %>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <% if signed_in? %>
    <footer>
      <%= link_to "Projects", projects_path %>
      <%= link_to "New Project", new_project_path %>
      <%= link_to "Outcrops", outcrops_path %>
      <%= link_to "New Outcrop", new_outcrop_path %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </footer>
  <% end %>
</html>
